* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background-color: #380a0a;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 50px;
}

#navbar_logo {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar_item {
    margin-left: 20px;
}

.navbar_links {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.3s;
}

.navbar_links:hover {
    color: #5bb197;
}

.navbar_btn .button {
    padding: 10px 20px;
    background: linear-gradient(to right, #5bb197, #aded8b);
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}

.main_section {
    background-color: #131313;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.search_container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.search_container h1 {
    margin-bottom: 20px;
    font-size: 30px;
}

.search_container p {
    margin-bottom: 10px;
}

#author-input, #book-input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
}

.submit_button {
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    background-color: #5bb197;
    color: white;
    cursor: pointer;
}

.clear_button {
    padding: 12px 30px;
    border: none;
    border-radius: 4px;
    background-color: #5bb197;
    color: white;
    cursor: pointer;   
}

.footer {
    background-color: #2b2b2b;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    position: sticky;
    justify-content: center;
    z-index: 1;
}

.results-container {
    margin-top: 20px;
    color: white;
    background-color: #fff;
    height: 50px;
}

.results-container p {
    font-size: 1.2rem;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

/* Modal styling */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
}

/* Modal Content 
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
    height: 370px; 
    border-radius: 8px;
}

.modal-content h2 {
    margin-bottom: 25px;
}*/

/* Close button 
.close-button {
    top: 10px;
    right: 15px;
    color: #380a0a;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover, .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}*/

/* Input fields 
.modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}*/

/* Submit button 
.modal-content .submit_button {
    background-color: #5bb197;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content .submit_button:hover {
    background-color: #4a8072;
}*/

/* Styles for the contact form */
form input, form textarea {
    width: 60%;  /* Adjust as needed */
    max-width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    padding: 10px 20px;
    background-color: #5bb197;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

/* Contact us */

.main_contact {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #f9f9f9;
    justify-content: space-between;
}

.main_container_contact h1 {
    padding: 20px;
    text-align: left;
    margin-left: 0;
}

.main_container_contact p {
    padding: 10px;
    margin-bottom: 10px;
}

.main_container_contact button{
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    align-items: end;
}

.description_wrapper {
    position: absolute;
    top: 5.2rem;
    right: 3rem;
    left: 50rem;
}

/* Browse books Section */

#book_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0; 
}

.book_item {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 10px;
}

.book_item img {
    width: 150px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.book_item img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.book_item p {
    margin-top: 10px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.book_item img:hover + p {
    transform: translateY(20px); /* Moves title downward when image zooms */
}

#prev_page, #next_page {
    padding: 10px 20px;
    background-color: #5bb197;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button_container {
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    margin: auto 50px;
}

/* Modal for book info */
#book_info_modal {
    position: fixed;
    top: 200px;
    left: 50px;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Sit on top */
}

#book_info_content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#close_modal {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}
